.nav-logo {
    width: 3%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.main-form {
    position: relative;
    left: auto;
    right: auto;
    background-color: yellow;
    margin: 2% 30%;
    padding: 15px;
    border-radius: 5px;
    border-radius: 5px;
}

.ds-thumbnail {
    width: 20%;
    height: 100pt;
    background-color: grey;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin: 20px 34px;
}

.datasets-table {
    position: relative;
    left: auto;
    right: auto;
    margin: 2%;
    width: 96%;
}

.datasets-table thead {
    background-color: black;
    color: aliceblue;
    font-weight: bold;
}

.dataset-cover {
    position: relative;
    left: auto;
    right: auto;
    height: 100pt;
    margin: 5%;
    width: 90%;
    align-content: flex-end;
    color: white;
    font-weight: bold;
    font-size: 30pt;
    background-size: cover;
    background-position-y: center;
}

.user-name {
    color: black;
    font-size: small;
}

.user-username {
    color: #ff0f4f;
    font-size: small;
}

li * {
    display: inline-block;
}

body{margin-top:20px;}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

.main_main {
    background-image: url(indians.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    height: 1000pt;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}