{% extends 'main/wrapper.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}
{% if user.is_authenticated %}
<h2>My contacts</h2>
<ul>
{% for i, values in contacts.items %}
    <li>
    <a href="{% url 'chat' i %}">
            <p class="user-name">{{ values.contact.first_name }} {{ values.contact.last_name }}</p>
            <p class="user-username">@{{ values.contact.username }}</p>
            <p style="background-color: #1e7e34; color: white; border-radius: 10px; padding-left: 2px; padding-right: 2px" class="user-username">{{ values.rating}}$    </p>
            <input type="button" class="btn btn-success" value="Open chat">
        </a>
    </li>
{% endfor %}
</ul>
<form method="post" action="{% url 'search' %}" class="form-inline my-2 my-lg-0" id="search_form">
    {% csrf_token %}
    <input name="query" class="form-control mr-sm-2" type="search" placeholder="Type username" aria-label="Search"
           id="id_query">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<ul>
{% for i in users %}
    <li>{{ i.username }}</li>
    <form method="post" action="{% url 'add_contact' %}" class="form-inline my-2 my-lg-0">
        <input type="hidden" name="contact_id" value="{{ i.id }}">
    {% csrf_token %}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">+Add contact</button>
</form>
{% endfor %}
</ul>
{% endif %}

{% endblock %}