{% extends 'main/wrapper.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <div class="main_main">
        <h1 style="padding-top: 20%; color: white; font-size: 50pt; margin-top: -10%">Every second matters</h1>
        {% if not user.is_authenticated %}
        <a href="{% url 'auth' %}"><input class="btn btn-light" value="Join us"></a>
        {% else %}
        <a href="{% url 'profile' %}"><input class="btn btn-light" value="Profile"></a>
        {% endif %}
    </div>
{% endblock %}