{% extends 'main/wrapper.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}
{% if user.is_authenticated %}

<h2>Private chats</h2>
<ul>
{% for i in contacts %}
    <li>
        <p class="user-name">{{ i.first_name }} {{ i.last_name }}</p> <p class="user-username">@{{ i.username }}</p>
        <a href="#"><input type="button" class="btn btn-success" value="Open chat"></a>
    </li>
{% endfor %}
</ul>
<input type="button" value="+start dialogue">
{% endif %}

{% endblock %}