{% extends 'main/wrapper.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}
{% if user.is_authenticated %}
<div style="text-align: center;">
    <img src="{{ pic }}" class="rounded-circle mr-1" alt=""
         width="200" height="200">
    <h3 style="font-size: 20pt" class="user-username"> @{{ user.username }} </h3>
    <h2> {{ user.first_name }} {{user.last_name}} </h2>
    <h1 style="font-size: 80pt">THE COST OF A SECOND: <span style="color: #1e7e34; font-size: 100pt">{{ rating }}$</span> </h1>
</div>
{% endif %}

{% endblock %}