{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Inter|Nunito|Oswald|Roboto&display=swap" rel="stylesheet">
    <title>SEMENTIMER</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    {% load bootstrap4 %}

    <script src="{% bootstrap_jquery_url %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% bootstrap_javascript %}
    {% bootstrap_css %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: black!important; margin-bottom: 3%;">
    <a style="color: black; font-weight: bold; font-size: 50pt; padding-top: 0pt; margin-left: 0pt; margin-top: -7pt; margin-bottom: -57pt; position:absolute;" class="navbar-brand" href="{% url 'main' %}">SEM*NTimer</a>
    <a style="color: #ffdd00; font-weight: bold; font-size: 50pt; padding-top: 0pt; margin-left: 3pt; margin-top: -11pt; margin-bottom: -57pt; position:absolute;" class="navbar-brand" href="{% url 'main' %}">SEM*NTimer</a>
    <a style="color: #00aa55; font-weight: bold; font-size: 50pt; padding-top: 0pt; margin-left: 6pt; margin-top: -15pt; margin-bottom: -57pt; position:absolute;" class="navbar-brand" href="{% url 'main' %}">SEM*NTimer</a>
    <a style="color: red; font-weight: bold; font-size: 50pt; padding-top: 0pt; margin-left: 9pt; margin-top: -19pt; margin-bottom: -57pt; position:absolute;" class="navbar-brand" href="{% url 'main' %}">SEM*NTimer</a>
    <a style="color: #007bff; font-weight: bold; font-size: 50pt; padding-top: 0pt; margin-left: 12pt; margin-top: -23pt; margin-bottom: -57pt; position:absolute;" class="navbar-brand" href="{% url 'main' %}">SEM*NTimer</a>
    <a style="color: white; font-weight: bold; font-size: 50pt; padding-top: 0pt; margin-left: 15pt; margin-top: -27pt; margin-bottom: -57pt; position:absolute;" class="navbar-brand" href="{% url 'main' %}">SEM*NTimer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div style="padding-left: 30%;" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'messages' %}"> Private chats <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'contacts' %}"> Contacts <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form method="post" action="{% url 'messages' %}" class="form-inline my-2 my-lg-0" id="search_form">
            {% csrf_token %}
            <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="id_query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if not user.is_authenticated %}
        <a href="{% url 'auth' %}">
            <button class="btn btn-outline-success my-2 my-sm-0">
                Log in
            </button>
        </a>
        {% else %}
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">
                {{user.username}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>
{% block content %}

{% endblock %}
<footer class="foot">
</footer>

</body>
</html>